################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/wsbctechnicalblog.github.io/FileContentIndex
/.vs/wsbctechnicalblog.github.io/v17/TestStore/0
/.vs
